name: Rust

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  CARGO_TERM_COLOR: always

jobs:
  check:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Lint
      run: |
        cargo fmt --all -- --check
        cargo clippy --workspace --all-targets -- -D warnings
    - name: Test Native Intrinsics
      run: |
        cargo test
        cargo test --release
    - name: Test LLVM Intrinsics
      run: |
        cargo clippy --features llvm-intrinsics --all-targets -- -D warnings
        cargo test --features llvm-intrinsics
        cargo test --features llvm-intrinsics --release
    - name: Test Additional Features
      run: |
        cargo clippy --features serde --all-targets -- -D warnings
        cargo test --features macros,serde
        cargo test --features macros,serde --release
